@font-face {
font-family: "Akkurat";
src: url('fonts/regular.woff') format("woff"),
     url('fonts/regular.svg') format("svg"),
     url('fonts/regular.eot') format("embedded-opentype")
}

@font-face {
font-family: "Akkurat Bold";
src: url('fonts/bold.woff') format("woff"),
     url('fonts/bold.svg') format("svg"),
     url('fonts/bold.eot') format("embedded-opentype")
}

@font-face {
font-family: "Akkurat Light";
src: url('fonts/light.woff') format("woff"),
     url('fonts/light.svg') format("svg"),
     url('fonts/light.eot') format("embedded-opentype")
}
/* Main font */
.page{
    width: 100%;
}
.menu{
    width: 100%;
    height: 116px;
    position: fixed;
    text-align: center;
    background-color: white;
}
.logo{
    width:80%;
    height: 80px;
    position: relative;
    top:33px;
    margin: 0 auto;
}
img.for_def{
    max-height: 80px;
    max-width: 143px;
    float: left;
}
.menu_item{
    float: right;
    display:flex;
    position: relative;
    top:35px;
}
.menu .item{
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    float: right;
    font-weight: bold;
    font-size: 16px;
    font-family: "Akkurat Light";
    color:black;
}
.item:hover{
  text-decoration: underline;
  color: #1999FE;
}
.header{
    width: 100%;
    height: 375px;
    background-attachment: fixed;
    background: url(corelynx_blog_5.jpg);
    background-position: 50% -202px;
    background-size: cover;
   display:flex;
   align-items:flex-end;
}
h1 {
    font-size: 50px!important;
    color: white;
    font-family: "Source Sans Pro",sans-serif !important;
}
.headerline{
    width:80%;
    margin: 0 auto;
    padding-bottom: 30px;
}

