.page{
    width: 100%;
}
.menu{
    width: 100%;
    height: 116px;
    display: inline-block;
    position: fixed;
}
.labels{
    float: right;
    display: table-cell;
    vertical-align: bottom;
}
.logo{
    width: 100%;
    display: table-cell;
    vertical-align: bottom;
    height: 116px;
    padding-left: 30px;
}
img.for_def{
    float: left;
    height: 80px;
    width: auto;
}